doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
style.
  body {
  width: 900px;
  margin: auto;
  }
  .logo {
  top: 15px;
  left: 15px;
  position: absolute;
  width: 120px;
  height: 120px
  }
  h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 30px;
  }
  #inner {
  padding-left: 40px;
  position: relative;
  }
  h1 {
  font-size: 20px;
  }
  #inner-item {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin: 10px
  }
  #ii1 {
  width: 170px;
  margin-right: 30px;
  }
  .grid {
  display: grid;
  grid-template-columns: 160px 160px 160px 120px 130px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .grid1 {
  display: grid;
  grid-template-columns: 210px 130px 50px 50px 80px 210px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .grid2 {
  display: grid;
  grid-template-columns: 90px 230px 230px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .gridResearch {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .gridsop{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .gridsopi{
  display: grid;
  grid-template-columns: 240px 80px 80px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .gridpub{
  display: grid;
  grid-template-columns: 200px 500px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .gridpubii{
  display: grid;
  grid-template-columns: 125px 125px 125px 125px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  .gridRInside{
  display: grid;
  grid-template-columns: 210px 60px;
  grid-column-gap: 0;
  column-gap: 0;
  }
  #grid-item {
  border: solid black 1.5px;
  padding: 10px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center
  }
  .grid-item {
  border: solid black 1.5px;
  padding: 10px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center
  }
div(style='text-align: center;margin: auto;border-bottom: solid black 1px;padding:10px;position:relative')
  img.logo(src='https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Iiit-una-logo.png/220px-Iiit-una-logo.png')
  h1 Indain Institute of Information Technology Una
  h1 Himachal Pradesh
  h1(style='font-size: 15px;font-weight: 500;') (An Institute of National Importation Under MHRD)
h2 Application For Faculty Position
#inner
  #inner-item
    #ii1 1.Application ID
    span#ref AP2019-12-0001
  #inner-item
    #ii1 2 Job Ad. No.
    span#job Assistant
  #inner-item
    #ii1 2.School(s)
    #school(style='display: flex;flex-direction: column;')
h2 Personal Information
#inner
  #inner-item
    #ii1 1.Name
    span#name  
  #inner-item
    #ii1 2.Date of Birth
    span#dob
  #inner-item
    #ii1 3.Sex
    span#sex
  #inner-item
    #ii1 4.Nationality
    span#nationality
  #inner-item
    #ii1 5.Marital Status
    span#martialStatus
  #inner-item
    #ii1 6.Cateogary
    span#category
  #inner-item(style='margin-bottom: 30px;')
    #ii1 7.Correspondence Address
    #corAddress(style='width:150px;margin-right: 120px;')
  #inner-item
    #ii1 8.Permanent Address
    #perAddress(style='width:150px;margin-right: 120px;')
  h2 Fee Detailes
  .inner-item(style='margin-bottom: 15px;')
    #ii1 1  Tansition Id
    #tid(style='width:150px;margin-right: 120px;')
  .inner-item(style='margin-bottom: 15px;')
    #ii1 2  Payment Date
    #pd(style='width:150px;margin-right: 120px;')
  div(style='margin:auto;width: min-content;')
    #acad.grid
      .grid-item Degree/Title
      .grid-item Branch/spelization
      .grid-item University/ College
      .grid-item Year Of Complition
      .grid-item CGPA/ Marks
  h2 Academic Exeperience
  div(style='margin:auto;width: min-content;')
    #acadexp.grid1
      .grid-item University/Organization
      .grid-item Desination
      .grid-item from
      .grid-item to
      .grid-item Monthaly Salary
      .grid-item Nature of Duties
  h2(style='margin-top:200px') Industrial Exeperience
  div(style='margin:auto;width: min-content')
    #indexp.grid1
      .grid-item University/Organization
      .grid-item Desination
      .grid-item from
      .grid-item to
      .grid-item Monthaly Salary
      .grid-item Nature of Duties
  h2(style='margin-top:80px') Research Profile
  h2(style='margin-top:20px;font-size: 20px;') Sponsored Research Project
  div(style='margin: auto;width: min-content;')
    #sop.gridsop
      .grid-item title
      .grid-item sponsor
      .grid-item amount
      .grid-item duration
      .grid-item start
      .grid-item end
      .grid-item outcome
  h2(style='margin-top:60px;font-size: 20px;') Thesis Supervised
  div(style='margin:auto;width: min-content')
    #thesis.gridResearch
      .grid-item Phd
      .grid-item PG
      .grid-item UG
      .gridRInside
        .grid-item Status
        .grid-item No
        .grid-item Completed
        #pc.grid-item 0
        .grid-item In Progress
        #ppp.grid-item 0
      .gridRInside
        .grid-item Status
        .grid-item No
        .grid-item Completed
        #pgc.grid-item 0
        .grid-item In Progress
        #pgp.grid-item 0
      .gridRInside
        .grid-item Status
        .grid-item No
        .grid-item Completed
        #uc.grid-item 0
        .grid-item In Progress
        #up.grid-item 0
  h2(style='margin-top:60px;font-size: 20px;') Publications
  div(style='margin:auto;width: min-content')
    #publications.gridpub
      .grid-item Books/Chaptors: Published/Accepted
      .gridpubi
        .grid-item Papers Published / Accepted in
        .gridpubii
          .grid-item International Journals
          .grid-item National Journals
          .grid-item International Conferences
          .grid-item National Conferences
      #books.grid-item 0
      .gridpubii
        #ij.grid-item 0
        #nj.grid-item 0
        #ic.grid-item 0
        #nc.grid-item 0
  h2(style='margin-top:80px') Document Checklist
  div(style='margin:auto;width: min-content;margin-bottom: 20px;')
    #indexp.grid2
      .grid-item S. NO.
      .grid-item Document Discription
      .grid-item Yes/No
      .grid-item 1
      .grid-item DoB Proof
      #dobProof.grid-item
      .grid-item 2
      .grid-item UG Degree 
      #ugd.grid-item
      .grid-item 3
      .grid-item PG Degree 
      #pgd.grid-item
      .grid-item 4
      .grid-item Phd Degree
      #phdd.grid-item
      .grid-item 5
      .grid-item Category Certificate
      #cc.grid-item
      .grid-item 6
      .grid-item Pwd Certificate
      #pwdc.grid-item
      .grid-item 7
      .grid-item Govt issued id Card
      #gid.grid-item
      .grid-item 8
      .grid-item Payment proof
      #pp.grid-item
  div(style='top:20px;right:20px;position: absolute;')
    img#per(src='' style='width:200px;height:250px')  
script.
  function addTable(to, data) {
  const grid = document.getElementById(to)
  data.map((obj) => {
  const div = document.createElement('div')
  div.innerHTML = obj.education
  div.id = "grid-item"
  grid.appendChild(div)
  const div2 = document.createElement('div')
  div2.id = "grid-item"
  div2.innerHTML = obj.subject
  grid.appendChild(div2)
  const div3 = document.createElement('div')
  div3.id = "grid-item"
  div3.innerHTML = obj.institution
  grid.appendChild(div3)
  const div4 = document.createElement('div')
  div4.innerHTML = obj.year
  div4.id = "grid-item"
  grid.appendChild(div4)
  const div5 = document.createElement('div')
  div5.id = "grid-item"
  div5.innerHTML = obj.percentage || "-"
  grid.appendChild(div5)
  })
  }
  function addExp(to, data) {
  const grid = document.getElementById(to)
  data.map((obj) => {
  const div = document.createElement('div')
  div.innerHTML = obj.org
  div.id = "grid-item"
  grid.appendChild(div)
  const div2 = document.createElement('div')
  div2.id = "grid-item"
  div2.innerHTML = obj.designation
  grid.appendChild(div2)
  const div3 = document.createElement('div')
  div3.id = "grid-item"
  div3.innerHTML = obj.from
  grid.appendChild(div3)
  const div4 = document.createElement('div')
  div4.innerHTML = obj.to
  div4.id = "grid-item"
  grid.appendChild(div4)
  const div5 = document.createElement('div')
  div5.id = "grid-item"
  div5.innerHTML = obj.salary
  grid.appendChild(div5)
  const div6 = document.createElement('div')
  div6.id = "grid-item"
  div6.innerHTML = obj.natureOfDuties
  grid.appendChild(div6)
  })
  }
  function Sponsored(to,data){
  const grid = document.getElementById(to)
  data.map((obj) => {
  const div = document.createElement('div')
  div.innerHTML = obj.title
  div.id = "grid-item"
  grid.appendChild(div)
  const div2 = document.createElement('div')
  div2.id = "grid-item"
  div2.innerHTML = obj.sponsor
  grid.appendChild(div2)
  const div3 = document.createElement('div')
  div3.id = "grid-item"
  div3.innerHTML = obj.amount
  grid.appendChild(div3)
  const div4 = document.createElement('div')
  div4.innerHTML = obj.duration
  div4.id = "grid-item"
  grid.appendChild(div4)
  const div5 = document.createElement('div')
  div5.id = "grid-item"
  div5.innerHTML = obj.start
  grid.appendChild(div5)
  const div6 = document.createElement('div')
  div6.id = "grid-item"
  div6.innerHTML = obj.end
  grid.appendChild(div6)
  const div7 = document.createElement('div')
  div7.id = "grid-item"
  div7.innerHTML = obj.outcome
  grid.appendChild(div7)
  })
  }
  function set(id,val){
  document.getElementById(id).innerHTML = val
  }
  function publication(data){
    console.log(data)
  set("books",data[0]?.books)
  set("ij",data[0]?.iJournals)
  set("nj",data[0]?.nJournals)
  set("ic",data[0]?.iConf)
  set("nc",data[0]?.nConf)
  }
  function Thesis(app){
    console.log(app)
  let phdc=0,phdp=0,ugc=0,ugp=0,pgc=0,pgp=0
  app.Theses?.map((obj)=>{
  if(obj.status==="completed"&&obj.type=="PHD")
  phdc++;
  else if(obj.status===""&&obj.type=="PHD")
  phdp++;
  if(obj.status==="completed"&&obj.type=="PG")
  pgc++;
  else if(obj.status===""&&obj.type=="PG")
  pgp++;
  if(obj.status==="completed"&&obj.type=="UG")
  ugc++;
  else if(obj.status===""&&obj.type=="UG")
  ugp++;
  })
  set('pc',phdc)
  set('ppp',phdp)
  set('uc',ugc)
  set('up',ugp)
  set('pgc',pgc)
  set('pgp',pgp)
  }
  function callApi(id) {
  //alert("hi")
  let data;
  fetch(`/applications/${id}`).then((response) =>
  response.json()
  ).then((dat) => {
  data = dat.app
  set('ref',data.refNum)
  set('school',data.school)
  set('name',data.PersonalDetail.name)
  set('dob',data.PersonalDetail.DOB)
  set('sex',data.PersonalDetail.sex)
  set('name',data.PersonalDetail.name)
  set('nationality',data.PersonalDetail.nationality)
  set('martialStatus',data.PersonalDetail.martialStatus)
  set('corAddress',data.PersonalDetail.corAddress)
  set('perAddress',data.PersonalDetail.perAddress)
  set('category',data.PersonalDetail.category)
  fetch(`/jobs/getById/${data.jobId}`).then((res) =>
  res.json()
  ).then(data => {
  document.getElementById('school').innerHTML = data.job.title
  }).catch((err) => {
  console.log(err)
  })
  addTable('acad', data.AcadQualifications)
  addExp('acadexp', data.AcadExperiences)
  addExp('indexp', data.IndustryExps)
  Thesis(data)
  Sponsored("sop",data.Research)
  publication(data.Publications)
  set("job", data.adNo)
  set("dobProof",data.PersonalDetail.dobDoc==""||!data.PersonalDetail.dobDoc?"NO":"YES")
  set("cc",data.PersonalDetail.catDoc==""||!data.PersonalDetail.catDoc?"NO":"YES")
  set("pwdc",data.PersonalDetail.pwdDoc==""||!data.PersonalDetail.pwdDoc?"NO":"YES")
  set("gid",data.PersonalDetail.govtIdCard==""||!data.PersonalDetail.govtIdCard?"NO":"YES")
  set('pp',data.feeReceipt != "" ?"YES":"NO")
  set('tid',data.feeTid||"-")
  set('pd',data.feeDate||"-")
  data.AcadQualifications.map(obj=>{
  if(obj.education==="UG"){
  set("ugd",obj.doc==""||!obj.doc?"NO":"YES")
  }else if(obj.education==="PG"){
  set("pgd",obj.doc==""||!obj.doc?"NO":"YES")
  }else if(obj.education == "PHD"){
  set("phdd",obj.doc==""||!obj.doc?"NO":"YES")
  }
  })
   let srt=data.PersonalDetail.photo.split('uploads');
   let finalImage = srt[1];
    if(srt[1][0] === "\\") {
      finalImage = srt[1].split("\\").join("/")
    }
  document.getElementById('per').src=finalImage
  setTimeout(() => {
    window.print()
  }).catch(err => {
    console.log(err)
  },500)
  })
  return data
  }
  //alert("j")
  let data = callApi("#{msg}")
